<h1>Let's Taco Bout It!!</h1>

<h3>Tacos to Devour</h3>

<ul>
 {{#each notDevoured}}
 
    <li>{{taco_name}} devoured: no</li>
    
    {{/each}}
</ul>

<h3>
    You have devoured!
</h3>
<ul>
 
    {{#each devoured}}
    <li>
        {{taco_name}}
        devoured: yes
   </li>
    {{/each}}
    
</ul>