h1 {
    text-align: center;
    
}

h3 {
    text-align: center;
}

body {
    background-image: url("https://pre00.deviantart.net/1c05/th/pre/f/2013/264/f/7/raining_tacos_wallpaper_by_maii1234-d6nauqq.png");
}

ul {
    text-align: center;
}